@import url("/assets/styles/variables.css");
@import url("/assets/styles/header.css");
@import url("assets/styles/media.css");
@import url("assets/styles/footer.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--page-bg);
}

a {
    text-decoration: none;
    color: var(--fg);
    font-family: "Fira Code", monospace !important;
    font-weight: 400;
    transition: 300ms;
}

.nav-anchor:hover {
    color: var(--fg-brighter);
    filter: drop-shadow(0px 0px 3px var(--bg-light));
    transition: 300ms
}

h1, h2, h3, h4, h5 {
    font-family: "Fira Code", monospace;
    font-weight: 400;
    color: var(--fg);
}

h1 {
    font-weight: 600;
}

h3 {
    font-weight: 500;
}

p {
    font-family: "Fira Sans", "Fira Code", monospace;
    font-weight: 300;
    width: 80%;
    margin: auto;
}

hr {
    width: 70%;
    margin: auto;
}

.small-hr {
    width: 20%;
    margin: auto;
}

#main {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: var(--bg2);
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 8px;
    filter: drop-shadow(0px 0px 8px var(--bg3));
    z-index: -1;
}

.center-align {
    text-align: center;
}

.right-align {
    text-align: right;
    padding-right: 10%;
}

.left-align {
    text-align: left;
    padding-left: 10%;
}

.incomplete {
    border-radius: 12px !important;
}

#main * {
    color: var(--fg);
}

.title {
    filter: drop-shadow(0 0 6px var(--bg-light));
}

.subtitle {
    filter: drop-shadow(0 0 4px var(--bg-medium));
    font-weight: 500;
}

@media only screen and (orientation: portrait) {
    p {
        font-size: 0.85em;
        width: 90%;
    }

    h1, h2, h3, h4, h5 {
        font-size: 0.85em;
    }

    #main {
        width: 85%;
    }
}


