@import url(variables.css);

footer {
    width: 100%;
    background-color: var(--bg);
    border-radius: 16px;
    z-index: 1;
    filter: drop-shadow(0 -1px 6px var(--bg));
    padding-bottom: 24px;
    padding-top: 12px;
}

#incomplete-footer {
    position: fixed;
    bottom: 0;
}

footer div {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

footer div * {
    color: var(--bg-light);
}

ul {
    display: block !important;
    font-family: "Fira Sans", monospace;
    padding-top: 4px;
    list-style-type: "➔ ";
}

li {
    display: list-item !important;
    padding-bottom: 2px;
}

a {
    filter: drop-shadow(0 0 1px var(--bg-light));
}

#footer-contato {
    display: inline-block;
}

#footer-contato * {
    display: inline;
}

pre {
    width: 100%;
    font-family: "Fira Code";
    font-weight: 900;
    line-height: 1.14em;
    padding-left: 20px;
    filter: drop-shadow(0 0 4px var(--border));
}

#footer-curiosidades {
    display: inline-block;
}