@import url("variables.css");

img {
    border: solid var(--border) 2px;
    border-radius: 12px;
    padding: 4px;
}

.no-border {
    border: none;
}

.clickable-img {
    transition: 300ms;
}

.clickable-img:hover {
    transition: 250ms;
    transform: scale(1.01);
    cursor: pointer;
}

.block-container {
    display: block;
}

.margin-container {
    width: 80%;
    margin: auto;
}

.img-container * {
    margin: 0;
    width: 100%;
}

.img-container-margin * {
    margin: auto;
    width: 70%;
}


.blog-img {
    width: 40%;
}

.medium-img {
    width: 60%;
}

.small-img {
    width: 30%;
}

.logo {
    height: 32px;
    border-radius: 8px;
    border: none;
}