@use 'reset.scss';
@use 'util.scss';
@import url('../app.css');


hr {
  margin: 1rem .6rem;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;

  &.dark {
    .background {
      background: radial-gradient(circle at center, black, transparent);
    }
  }
}

.background {
  --scale: 2;
  position: absolute;
  top: -50vh;
  left: -50vw;
  z-index: -20;
  transition: 500ms cubic-bezier(0,.99,.62,1.07);
  transform: rotateX(50deg) rotateY(-15deg) rotateZ(40deg) scale(var(--scale));
  background: radial-gradient(circle at center, white, rgb(180, 180, 180));
  width: 200vw;
  height: 200vh;
  border-radius: 10vh;

  @media (max-width: 768px) {
    display: none;
  }
}


article, .modal-content {
  padding: clamp(0px, 3%, 1rem);
  @apply text-neutral-700 dark:text-neutral-200;

  h1, h2 {
    font-family: 'Orbitron', monospace;
  }

  h1 {
    @apply text-3xl pt-2;
  }

  h2 {
    @apply text-2xl py-3;
  }

  h3 {
    @apply text-xl py-2 pt-3 text-black dark:text-white;
  }

  hr {
    border-color: var(--tw-neutral-400);
  }

  a {
    @apply text-blue-400;
  }
}

.modal-content {
  @apply px-2;
}

