.orbitron {
  font-family: 'Orbitron';
}

.manrope {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

.manrope-semibold {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.manrope-bold {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}
